%ul
  %li
    = link_to 'Afiliados', affiliates_path
  %li
    = link_to 'Afiliar', new_affiliate_path
  %li
    = link_to 'Productos', products_path
  %li
    = link_to 'Nuevo Producto', new_product_path 
  %li
    = link_to 'Tienda', root_path