<<<<<<< HEAD
%h1{:style => "position: fixed;left: 43%;"}  Product List}
/*.form1*/
%table{:border => 3, :style => "position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);"}
  %thead
    %tr
      %th Image 
      %th Store
      %th Name
      %th Description
      %th Price
      %th Quantity
      %th Category
  %tbody 
    - @affiliate.each do |object|
      %tr
        %td= image_tag object["image"]
        %td= object["store"]
        %td= object["name"]
        %td= object["description"]
        %td= object["price"]
        %td= object["quantity"]
        %td= object["category"]
        %td= link_to 'counter',"/products/#{object['id']}", method: :post 
        -# %td= link_to 'Show', object
        
=======
%h1.small_top.absolute.large_left Product List
.container
  - @affiliate.each do |object|
    .card  
      - if object["image"].nil?
        =image_tag "missing.png"
      -else
        = image_tag object["image"]
      %div.padding-mini.Border-Botton-dotted
        %p.medium
          = object["name"]
      .description.padding-mini.Border-Botton
        = object["description"]
      %div.padding-mini.Border-Botton  
        %p
          = object["store"]
      .inline-blok.padding-mini.Border-Botton 
        precio:
        = object["price"]
        Bsf.
      .inline-blok.padding-mini.Border-Botton 
        cantidad:
        = object["quantity"]
      %div.padding-mini.Border-Botton
        = object["category"]
      .buttom comprar
>>>>>>> b1b49bf08d4d0276eb795c92b79e20dc893133ac
