%h1.small_top.absolute.large_left Affilaite List

%table
  %thead
    %tr
      %th Name
      %th Category
      %th Url

    - @affiliate.each do |object|
      %tr
        %td= object.name
        %td= object.category
        %td= object.url
        %td= link_to 'Destroy', object, method: :delete, data: { confirm: 'Are you sure?' }

%br/





