.afili-form.form1
  = form_with model: @affiliate, local: true do |form|

    .field
      = form.text_field :name, placeholder: "Nombre"
    .field
      = form.text_field :category,placeholder:"Categoria"
    .field
      = form.text_field :url, placeholder:"URL"
    .field
      = form.submit
