.card{
    padding: 0.5em;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    display: inline-block;
    margin: 5px;
    background-image: url("grisaso.png");
    border-radius: 20px;
    img{
        display: block;
        width: inherit;
        height: 185;
    }

}
.container{
    width: 100%;
    height: 100%;
    margin-top: 129px;
    position: absolute;
    padding: 0.8em;

}


.buttom{
    background: #333333;
    border-radius: 10px;
    padding: 0.5em;
    border-color: #116f72;
    margin-bottom: 1em;
    cursor: pointer;
    width: 111px;
    margin: auto;
    color: white;
    text-align: center;
    transition: all 0.8s;
    margin-top: 11px;
  &:hover{
      background:#116f72;
  }
}
.medium{
    font-size:2em;
    text-align: center;
}


.small_top{
    top: 8%;
   
}
.large_left{
    left: 43%;

}
.absolute{
     position: absolute;
}
.inline-blok{
    display: inline-block;
    width: 45%;
    
}

.padding-mini{
padding: 0.3em;
}
.Border-Botton{
    border:none;
    outline:none;
    border-bottom: 1px solid;
    -webkit-box-shadow:0px 1px 1px #21981f;
 -moz-box-shadow:0px 1px 1px #21981f;
 box-shadow:0px 1px 1px #21981f; 
}
.Border-Botton-dotted{
    border:none;
                outline:none;
    border-bottom: 1px dotted; 
    -webkit-box-shadow:0px 1px 1px #21981f;
    -moz-box-shadow:0px 1px 1px #21981f;
    box-shadow:0px 1px 1px #21981f
}
