.fondo{
	top: 50%;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	background-image: url("rraro");
	width: 100%;
	height: 40%;
}

.form1{
	background-color: #333;
	box-shadow: 0px 0px 7px 3px  rgba(0, 0, 0, .5);
	padding-top: 0;
	padding-bottom: 0;
	z-index: 1;
	align-content: center;
	border-radius: 20%;
	// border: 1px solid #666666;
	width: 560px; 
	height: 610px;
	top: 50%;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
    
        .fieldArea1{
            
             text-align: center;
              }
        
       

        .field {
              align-content: center;
              text-align: center;
              border-radius: 10px;
              width: 100%; 
							text-align: center;
							margin-top: 1.5em;
            input{
                border:none;
                outline:none;
                border-bottom: solid 1px white;
                font-size: 1.5em;
								color: white;
								text-align: center;
								background-color: transparent;
								padding: 0.3em;
              }
						}
							textarea{
								color: #752f28c9;
								border-color: #752f28c9;
								width: 332px;
								height:  70px;

							}
          

}
					::-webkit-input-placeholder{/*webkit browsers*/
    color:white;
}
::-moz-placeholder{/*firefox 4 to 18*/
    color: white;
    opacity: 0.7;
}
:-moz-placeholder{/*firefox 19+*/
    color: white;
    opacity: 0.7;
}
:-ms-input-placeholder{ /*explorer*/
    color: white;
}

