ul {
    font-family: Verdana;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 10;

}

li {

    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    transition: all 0.25s;
    background-color: #111;
}




