.form1
  = form_with model: @product, local: true do |form|
    .field
      = form.label :store
      = form.text_field :store
    .field
      = form.label :name
      = form.text_field :name
    .field
      = form.label :description
      = form.text_area :description
    .field
      = form.label :price
      = form.number_field :price
    .field
      = form.label :quantity
      = form.number_field :quantity
    .field
      = form.label :category
      = form.text_field :category 
    .field
      = form.submit

-#   GUSTAVO PA