%h1.small_top.absolute.large_left Product List
.content-table
  %table{:border => 1}
    %thead
      %tr
        %th Image 
        %th Store
        %th Name
        %th Description
        %th Price
        %th Quantity
        %th Category
      
      - @product.each do |object|
        
        %tr
          %td= image_tag object.image(:medium)
          %td= object.store
          %td= object.name
          %td= object.description
          %td= object.price
          %td= object.quantity
          %td= object.category
          %td= link_to 'Show', object
          %td= link_to 'Edit', edit_product_path(object)
          %td= link_to 'Destroy', object, method: :delete, data: { confirm: 'Are you sure?' }

%br/





