.form1
  = form_with model: @product, local: true do |form|

    .field
      = form.text_field :store,placeholder:"Store"
  
    .field
      = form.text_field :name,placeholder:"Nombre"

    .field
      = form.text_area :description,placeholder:"Descripcion.."
   
    .field
      = form.number_field :price,placeholder:"Precio"
    
    .field
      = form.number_field :quantity,placeholder:"Cantidad"
  
    .field
      = form.text_field :category ,placeholder:"Categoria"
    .field
      = form.file_field :image,placeholder:"Hola"
    .field
      = form.submit

.fondo