%ul
  %li
    Store:
    #{@product.store} 
  %li
    Name:
    #{@product.name} 
  %li
    Description:
    #{@product.description} 
  %li
    Price:
    #{@product.price} 
  %li
    Quantity:
    #{@product.quantity} 
  %li
    Category
    #{@product.category} 





